* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit';
    font-style: normal;
}

/* --------------------------------NAV---------------------------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2A2B;
    height: 40px; 
    padding: 12px 40px; 
    color: #FFFFFF;
}

nav h2 {
    font-size: 23.4628px;
    opacity: 86%;
    width: 186px;
    height: 36px;
    font-weight: 400;

}

nav div {
    display: flex;
    justify-content: space-evenly;
}

.nav-1 {
    justify-content: center;
    align-items: center;
    gap: 7.33px;
}

.nav-link {
    gap: 32px;
}

.nav-link a {
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

a:link {
    text-decoration: none;
    background-color: transparent;
}

a:visited {
    color: #FFFFFF;
    background-color: transparent;
}

.nav-tlf {
    gap: 24px;
}

.nav-tlf-txt {
    align-items: center;
    gap: 11px;
}

nav button {
    display: flex;
    align-items: center;
    width: 130px;
    height: 40px;
    padding: 12px 24px;
    line-height: 16px;
    background-color: #515051;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
}

/* -------------------------HEADER--------------------------------------------- */
header {
    display: flex;
    gap: 24px;
    height: 390px;
    padding: 48px 40px;
    background-color: rgba(227, 222, 215, 0.3);
    font-weight: 600;
}

.head-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 390px;
    gap: 16px;
}

.head-article * {
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.head-article div {
    display: flex;
    gap: 16px;
}

.head-article>p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(17, 24, 39, 1);
}

h3 {
    height: 24px;
    font-size: 18px;
    color: #2A5B45;
    font-weight: 600;
}

h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
}

header button {
    height: 40px;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-color: rgba(31, 24, 21, 1);
    color: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);

}

header button:last-child {
    background-color: rgba(42, 91, 69, 1);
}

/* --------------------------SECTION THREE-CARDS--------------------------- */
.three-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    height: 284px;
    padding: 48px;
    background-image: url(../assets/background-coffe.jpg);
    background-size: cover;
    background-position: center center;
}

h4 {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    height: 28px;
}

.hold-cards {
    display: flex;
    justify-content: center;
    gap: 24px;

}

article.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    width: 268px;
    height: 184px;
    padding: 24px;
    border: 1px solid #F7F5F3;
    box-shadow: 0px 1px 4px rgba(227, 222, 215, 0.8);
    border-radius: 8px;
    background-color: #FFFFFF;
}

article.card p:nth-of-type(1) {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: rgba(43, 42, 43, 1);
}

article.card p:nth-of-type(2) {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgba(17, 24, 39, 1);
}


/* ----------------------------------SECTION NEWS-------------------------------------- */

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 523.39px; */
    padding: 40px;
    gap: 42px;
    background-color: #FFFFFF;
}

.news h2 {
    font-size: 24px;
    font-weight: 500;
    color: #2A5B45;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;

}

.hold-cards-coffe {
    display: flex;
    justify-content: space-around;
    /* width: 1200px; */
    /* height: 391.39px; */

    gap: 24px;
}

.card-coffe {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    /* width: 234px; */
    /* width: 282px; */
    /* height: 343.93px; */
    padding: 24px 24px;
    background-color: rgba(227, 222, 215, 0);
    /* opacity: 0; */
    border: 1px solid #E3DED7;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgba(203, 201, 201, 0.25);
    /* flex-grow: 1; */
    transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.card-coffe:hover {
    background-color: rgba(227, 222, 215, 0.5);
    box-shadow: 0px 5px 5px rgba(203, 201, 201, 1);

}

.card-coffe-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    font-weight: 600;
}

.card-coffe-txt p:last-child {
    font-size: 14px;
    font-weight: 400;
}

.news button {
    /* width: 52px; */
    /* height: 24px; */
    padding: 8px;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    background-color: rgb(42, 91, 69, 0.7);
    border-radius: 4px;
    border: none;
    transition: background-color 0.5s ease-in-out;
}

.card-coffe:hover button {
    background-color: rgb(42, 91, 69, 1);
}

.news-last {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19px;
    /* transform: ; */
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}

/* ---------------------------------PREGUNTAS FRECUENTES---------------------------- */
section.qa {
    background-color: #2A5B45;
    padding: 48px 306px;
}

.hold-qa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: white;
}



.qa h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 26px;
}

.qa-last {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 19px;
    text-decoration: underline;
    margin-top: 12px
}

.qa-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    /* width: 100%; */
    padding: 24px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    color: rgba(43, 42, 43, 1);
}

.qa-div:nth-of-type(3) {
    width: 603.3px;
}

.qa-div-click {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qa-div p:first-child {
    font-size: 18px;
    font-weight: 600;
}

.qa-div p:last-child {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.qa-div-click:hover img {
    transform: scaleY(-1);
}

.qa hr {
    background-color: #E3DED7;
}

/* --------------------------------UBICACION---------------------------- */

section.location {
    padding: 44px 40px;
}

.hold-location {
    display: flex;
    gap: 12px;
}

.location-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.location-last {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    gap: 19px;
    margin-top: 4px;
}

.location h3 {
    font-size: 24px;
    font-weight: 500;
}

.location-article>p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.location-last p {
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}

/* --------------------FORM------------------------- */
section.form {
    background-color: rgba(227, 222, 215, 1);
    padding: 0px 40px;
}

.hold-form {
    display: flex;
    gap: 24px;
    /* height: 512px; */
}

.form-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.form-txt h4 {
    color: #111827;
    font-size: 18px;
    font-weight: 600;
}

.form-txt>p:nth-of-type(2) {
    margin-top: 20px;
    margin-bottom: 12px;
}

.form-txt div:last-child {
    margin-top: 20px;
}

.form-txt p {
    color: #6B7280;
    font-size: 14px;
    font-weight: 400;
}

.form-txt>div {
    display: flex;
    gap: 15px;
}

.form-txt>.form-txt-address {

    flex-direction: column;
    gap: 0px;
    margin-bottom: 7px;
}

.form-txt-last p:last-child {
    color: #111827;
    font-weight: 600;
    text-decoration: underline;
}

.form-txt>.form-txt-last {
    gap: 3px;
}

.form-actual {
    width: 528px;
    /* height: 458px; */
    background-color: rgb(255, 255, 255);
    padding: 32px 51px 32px 51px;
}

.form-actual>form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

input[required],
textarea {
    padding: 9px 13px;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    /* transition: border 0s ease-in-out; */
}

input[required]:hover,
textarea:hover{
    border: 1px solid rgba(155, 158, 163, 1);
}
.hover-focus:focus{
    border: 10px solid rgba(63, 143, 107) !important;

}


.form-actual>form>div[class*="form-actual"] {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form-actual label {
    font-size: 12px;
    font-weight: 400;
    color: #374151;
}

#form-check {
    display: flex;
    align-items: center;
    gap: 12px;
}

#form-check label {
    font-size: 14px;
    font-weight: 400;
    color: #374151;
}

.condition-span {
    text-decoration: underline;
    font-weight: 600;
}

input[type="submit"]{
    background-color: #2A5B45;
    padding: 12px 24px;
    border-radius: 4px;
    width: 90px;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
}




/* --------------------------------IMAGENES---------------------------- */
header>img {
    width: 588px;
    height: 390px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.coffe-cup {
    width: 20.29px;
    height: 24.95px;
    transform: translate(0px, -3px);
}

.wphone {
    width: 18px;
    height: 18px;
}

.card img {
    width: 52px;
    height: 52px;
}

.card-coffe img {
    width: 219.39px;
    height: 219.39px;
}

.news img:last-child {
    width: 18px;
    height: 8px;
}

.qa-div img {
    width: 10px;
    height: 6px;
    transition: transform 0.3s ease-in-out;
}

.qa-last img {
    width: 18px;
    height: 8px;
}

.location-last img {
    width: 18px;
    height: 8px;
}

.location-img {
    width: 588px;
    height: 390px;
}

.form-txt img {
    width: 18px;
    height: 18px;
}