* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit';
    font-style: normal;
}

/* -------------------------------------------------------------NAV------------------------------------------------------------- */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2A2B;
    height: 40px;
    padding: 12px 40px;
    color: #FFFFFF;
}

h2 {
    font-size: 23.4628px;
    opacity: 86%;
    width: 186px;
    height: 36px;
    font-weight: 400;

}

nav div {
    display: flex;
    justify-content: space-evenly;
}

.nav-1 {
    align-items: center;
    gap: 7.33px;
}

.nav-link {
    gap: 32px;
}

.nav-link a {
    height: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}

a:link {
    text-decoration: none;
    background-color: transparent;
}

a:visited {
    color: #FFFFFF;
    background-color: transparent;
}

.nav-tlf {
    gap: 24px;
}

.nav-tlf-txt {
    align-items: center;
    gap: 11px;
}

nav button {
    display: flex;
    align-items: center;
    width: 130px;
    height: 40px;
    padding: 12px 24px;
    line-height: 16px;
    background-color: #515051;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
}

/* ----------------------------------------------------HEADER------------------------------------------------------------------- */
header {
    display: flex;
    gap: 24px;
    height: 390px;
    padding: 48px 40px;
    background-color: rgba(227, 222, 215, 0.3);
    font-weight: 600;
}

.head-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 390px;
    gap: 16px;
}

.head-article * {
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.head-article div {
    display: flex;
    gap: 16px;
}

.head-article>p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: rgba(17, 24, 39, 1);
}

h3 {
    height: 24px;
    font-size: 18px;
    color: #2A5B45;
    font-weight: 600;
}

h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
}

header button {
    height: 40px;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-color: rgba(31, 24, 21, 1);
    color: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);

}

header button:last-child {
    background-color: rgba(42, 91, 69, 1);
}

/* -------------------------------------------------------SECTION THREE-CARDS---------------------------------------------- */
.three-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    height: 284px;
    padding: 48px 147px;
    background-color: pink;
    background-image: url(../assets/background-coffe.jpg);
    background-size: cover;
    background-position: center center;
}

h4 {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    height: 28px;
}

.hold-cards {
    display: flex;
    justify-content: space-between;
    gap: 24px;

}

article.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 292px;
    height: 208px;
    padding: 24px;
    border: 1px solid #F7F5F3;
    box-shadow: 0px 1px 4px rgba(227, 222, 215, 0.8);
    border-radius: 8px;
    background-color: rgba(247, 245, 243, 1);
}

article.card p:first-child {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color:rgba(43, 42, 43, 1);
}

article.card p:last-child {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgba(17, 24, 39, 1);
}



/* -----------------------------------------------------------IMAGENES----------------------------------------------------- */
header>img {
    width: 588px;
    height: 390px;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.coffe-cup {
    width: 20.29px;
    height: 24.95px;

}

.wphone {
    width: 18px;
    height: 18px;
}

.card img {
    width: 52px;
    height: 52px;

}